.about {
  padding-bottom: 230px;

  &__container {
    display: flex;
    margin-bottom: 180px;
  }

  &__title {
    margin-right: 200px;
    line-height: 1;
  }

  &__text {
    margin: 0;
    max-width: 800px;
    font-weight: 600;
    font-size: 25px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__item {
    display: flex;
    width: 45%;

    &_vertical {
      flex-direction: column;
      width: 32%;
    }
  }

  &__item-number {
    margin-top: -60px;
    flex: 0 0 180px;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/about/ellipse.svg') bottom / contain no-repeat, url('../assets/img/about/shadow.svg') top / contain no-repeat;

    span {
      display: block;
      font-weight: 800;
      font-size: 66px;
      line-height: 1;
      color: #D95CF9;
    }
  }

  &__item-text {
    font-size: 25px;
  }

  &__btn {
    display: none;
  }
}


@media (max-width: 1400px) {
  .about {

    &__container {
      flex-direction: column;
    }

    &__title {
      margin-right: 0;
      margin-bottom: 40px;
    }

    &__item {
      flex-direction: column;
    }

  }
}

@media (max-width: 992px) {
  .about {
    padding-bottom: 150px;

    &__container {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 14px;
    }

    &__items {
      margin-bottom: 45px;
    }

    &__item-number {
      margin-top: 0;
      flex: 0 0 90px;
      width: 90px;
      height: 90px;

      span {
        font-size: 35px;
      }
    }

    &__item-text {
      font-size: 12px;
    }

    &__img {
      margin: 0 -16px 25px;
    }

    &__btn {
      display: block;
      //min-height: auto;
      margin: 0 auto;
      //padding: 13px 65px;
      font-weight: 400;
      font-size: 16px;
      box-shadow: none;
      min-height: 47px;
      min-width: 250px;
      padding: 8px;
    }
  }
}

@media (max-width: 768px) {
  .about {

    &__items {
      flex-direction: column;
    }

    &__item {
      width: 100%;
    }

    &__item-text {
      padding-left: 50px;
    }
  }
}
