.accordion {
  width: 100%;
  max-width: 880px;

  &__item {
    margin-bottom: 75px;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, #8569F9 8.47%, #B7A7FC 97.56%);
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;

    &.active {

      .accordion__icon {
        transform: rotate(45deg);
      }
    }
  }

  &__icon {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    transition: transform .3s;
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    user-select: none;

    p {
      margin: 0 0 25px;
      font-size: 20px;
      color: #EFEFEF;
    }
  }

}

@media (max-width: 992px) {
  .accordion {

    &__item {
      margin-bottom: 40px;
    }

    &__button {
      margin-bottom: 10px;
      font-size: 16px;
    }

    &__icon {
      width: 32px;
      height: 32px;
    }

    &__panel {

      p {
        font-size: 12px;
      }
    }
  }
}
