.answers {

  &__back {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0 0 25px;
  }


  &__descr {
    margin: 0 0 75px;
    font-weight: 600;
    font-size: 25px;
  }
}

.answers-tabs {
  margin-bottom: 210px;

  &__nav {
    margin-bottom: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__nav-item {
    position: relative;
    padding: 10px 40px;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--white);
    border-radius: 18px;
    border: 2px solid transparent;
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:focus {
      color: #C1C1C1;
    }

    &.active {
      background-color: #290F31;
      border-color: #CB69F9;
    }
  }
}


@media (max-width: 992px) {

  .answers {

    &__title {
      margin-bottom: 20px;
    }

    &__descr {
      margin-bottom: 50px;
      font-size: 14px;
    }
  }

  .answers-tabs {
    margin-bottom: 250px;

    &__nav {
      margin-bottom: 30px;
    }

    &__nav-item {
      font-size: 14px;
      padding: 10px 35px;

      //&:not(:last-child) {
      //  margin-right: 45px;
      //}

      &.active {
      }
    }
  }

}
