.article {

  &__back {
    margin-bottom: 30px;
  }

  &__title {
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 40px;
  }

  &__date {
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 25px;
  }

  &__img {
    position: relative;
    height: 580px;
    margin: 0 0 50px;
    border-radius: 18px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(23, 3, 160, 0.59) 0%, rgba(183, 167, 252, 0.0826) 172.1%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-bottom: 185px;

    p {
      font-size: 25px;

      &:not(:last-child) {
        margin: 0 0 25px;
      }
    }
  }
}


@media (max-width: 992px) {
  .article {

    &__title {
      margin: 0 0 15px;
      font-size: 24px;
    }

    &__date {
      margin: 0 0 25px;
      font-size: 12px;
    }

    &__img {
      height: 180px;
      margin: 0 0 35px;
    }

    &__text {
      margin: 0 0 90px;

      p {
        font-size: 14px;

        &:not(:last-child) {
          margin: 0 0 15px;
        }
      }
    }
  }
}
