.basis {
  padding-bottom: 145px;

  &__inner {
    position: relative;
    display: flex;
  }

  &__content {
    width: 61%;
    max-width: 955px;
  }

  &__animation {
    position: relative;
    z-index: -1;

    #canvas_1 {
      width: 100%;
    }
  }

  &__suptitle {
    font-weight: 700;
    font-size: 50px;
    background-image: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__text {
    font-weight: 600;
    font-size: 30px;
  }
}

@media (max-width: 1400px) {
  .basis {
    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 992px) {
  .basis {

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__suptitle {
      margin-bottom: 10px;
      font-size: 25px;
    }

    &__title {
      margin-bottom: 40px;
      font-size: 35px;
    }

    &__text {
      font-size: 14px;
    }

    &__content {
      width: 100%;
      max-width: 100%;
      margin-bottom: 50px;
    }

    &__animation {
      margin: 0 auto;
      max-width: 500px;
    }
  }
}

@media (max-width: 374px) {
  .basis {

    &__suptitle {
      font-size: 20px;
    }

    &__title {
      font-size: 24px;
    }
  }
}
