.buy {
  padding-bottom: 450px;

  &__title {
    margin: 0 0 20px;

    span {
      background-image: linear-gradient(180deg, #EB7EEB 0%, #FFC9FF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    margin: 0 0 85px;
    font-size: 25px;
  }

  &__descr {
    font-size: 35px;
    margin-bottom: 30px;

    span {
      display: block;
      margin-top: 10px;
      font-weight: 700;
      font-size: 50px;
      background-image: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__btn {
    padding: 15px 75px;
    box-shadow: none;
  }

  &__inner {
    display: flex;
    align-items: flex-end;
  }

  &__info {
    width: 52%;
  }

  &__slider {
    width: 40%;
    max-width: 700px;
  }

  &__slider-item {
    min-height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__slider-title {
    margin: 0 0 55px;
    font-weight: 700;
    font-size: 35px;
  }

  &__slider-prices {
    display: flex;
  }

  &__slider-price {

    &:first-child {
      margin-right: 50px;
    }
  }

  &__slider-old {
    font-weight: 400;
    font-size: 35px;
    text-decoration: line-through;
    color: #E2EAFF;
  }

  &__slider-text {
    margin: 0 0 17px;
    font-weight: 400;
    font-size: 25px;
  }

  &__slider-new {
    font-weight: 700;
    font-size: 35px;
    background-image: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__slider-img {
    position: absolute;
    z-index: -1;
    width: 100%;

    &_phone {
      top: 200px;
      right: 80px;
      max-width: 250px;
    }

    &_auto {
      top: 200px;
      right: 0;
      max-width: 600px;
    }

    &_macbook {
      top: 0;
      right: 0;
      max-width: 600px;
    }

    &_home {
      top: 50px;
      right: 150px;
      max-width: 450px;
    }
  }


  //&__slider-img {
  //  position: absolute;
  //  z-index: -1;
  //
  //  img {
  //    //width: 100%;
  //    //height: 100%;
  //    //object-fit: cover;
  //  }
  //
  //  &_phone {
  //    top: 0;
  //    right: 80px;
  //
  //    img {
  //      max-width: 250px;
  //    }
  //  }
  //
  //    &_auto {
  //      top: 0;
  //      right: 0;
  //
  //      img {
  //        max-width: 700px;
  //      }
  //    }
  //
  //  &_macbook {
  //    top: -70px;
  //    right: -40px;
  //
  //    img {
  //      max-width: 600px;
  //    }
  //  }
  //
  //    &_home {
  //      top: 50px;
  //      right: 150px;
  //
  //
  //      img {
  //        max-width: 400px;
  //      }
  //    }
  //
  //}
}

@media (max-width: 1400px) {
  .buy {
    padding-bottom: 150px;

    &__inner {
      flex-direction: column;
    }

    &__info {
      width: 100%;
    }

    &__slider {
      width: 100%;
      //max-width: 100%;
      //margin-left: 0 !important;
    }

    &__slider-item {
      min-height: 600px;
    }

    &__slider-img {

      &_phone {
        top: 0;
        right: 0;
      }

      &_auto {
        top: 80px;
        right: 0;
      }

      &_macbook {
        top: 0;
        right: 0;
        max-width: 500px;
      }

      &_home {
        top: 0;
        right: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .buy {

    &__title {
      margin: 0 0 40px;
    }

    &__text {
      margin: 0 0 50px;
      font-size: 14px;
    }

    &__descr {
      margin: 0 0 20px;
      font-size: 20px;

      span {
        font-size: 30px;
      }
    }

    &__slider-title {
      margin: 0 0 40px;
      font-size: 20px;
    }

    &__slider-img {

      &_phone {
        top: auto;
        bottom: 0;
        //max-width: 150px;
      }

      &_auto {
        //max-width: 300px;
      }

      &_macbook {
        //max-width: 300px;
      }

      &_home {
        //max-width: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .buy {

    &__slider-prices {
      flex-direction: column;
    }

    &__slider-price {
      width: 100%;

      &:first-child {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }

    &__slider-text {
      margin: 0 0 10px;
      font-size: 20px;
    }

    &__slider-old {
      font-size: 30px;
    }

    &__slider-new {
      font-size: 35px;
    }
  }
}
