.details {

  &__title {
    margin: 0 0 80px;
  }

  &__subtitle {
    margin: 0 0 40px;
  }

  &__text {
    font-weight: 600;
    font-size: 25px;
    max-width: 800px;
  }

  &__gradient-text {
    max-width: 1100px;
    min-height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background: radial-gradient(50.1% 50.1% at 50.26% 49.74%, rgba(214, 54, 214, 0.46) 0%, rgba(133, 174, 255, 0) 100%);

    p {
      max-width: 665px;
      font-weight: 600;
      font-size: 25px;
    }
  }

}

.details-overlay {
  background: url('../assets/img/details/left-ellipse.svg') left 900px / auto no-repeat,
  url('../assets/img/details/left-ellipse2.svg') left bottom 1000px / auto no-repeat,
  url('../assets/img/details/right-ellipse.svg') right 2100px / auto no-repeat,
  url('../assets/img/details/right-ellipse2.svg') right bottom 800px / 100% no-repeat,
  url('../assets/img/details/ellipse.svg') bottom / 100% no-repeat,
  url('../assets/img/details/bottom.svg') bottom / 100% no-repeat;
}


@media (max-width: 992px) {
  .details {

    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 20px;
      font-size: 14px;
    }

    &__text {
      font-size: 14px;
    }

    &__gradient-text {
      min-height: 300px;
      margin-top: -50px;

      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .details-overlay {
    background:   url('../assets/img/details/ellipse.svg') bottom / auto no-repeat,
    url('../assets/img/details/bottom.svg') bottom / auto no-repeat;
  }
}
