.directions {
  position: relative;
  padding-bottom: 400px;

  &__inner {
    display: flex;
    align-items: center;
  }


  &__title {
    max-width: 620px;
  }

  &__diagram {
    width: 100%;


  }

  &__diagram-circle {
    width: 100%;

    path {
      opacity: .63;
      transition: opacity .3s, filter, .3s;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:nth-child(1) {
        &:hover {
          filter: drop-shadow(0 0 37px #FC54FF);
        }
      }

      &:nth-child(2) {
        &:hover {
          filter: drop-shadow(0 0 37px #C172FF);
        }
      }

      &:nth-child(3) {
        &:hover {
          filter: drop-shadow(0 0 37px #8490FF);
        }
      }

      &:nth-child(4) {
        &:hover {
          filter: drop-shadow(0 0 37px #FC54FF);
        }
      }
    }
  }

  &__diagram-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 320px;
    visibility: hidden;
    opacity: 0;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    &.first {
      bottom: 400px;
      right: 700px;

      .directions__diagram-content {
        bottom: 5px;
        left: -65px;
      }
    }

    &.second {
      top: 100px;
      right: 800px;

      .directions__diagram-content {
        top: -35px;
        left: 0;
      }
    }

    &.third {
      bottom: 400px;
      right: 80px;

      .directions__diagram-content {
        bottom: 0;
        right: 0;
      }
    }

    &.fourth {
      top: 50px;
      right: 200px;
    }
  }

  &__diagram-content {
    position: absolute;
  }

  &__diagram-text {
    display: inline-block;
    max-width: 200px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-right: 28px;
  }

  &__diagram-percent {
    font-weight: 600;
    font-size: 25px;
    background: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    display: none;
  }

  &__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:nth-child(1) {
      .directions__list-circle {
        background-image: linear-gradient(180.24deg, #D636D6 0.21%, #FFFFFF 190.12%);
        box-shadow: 0 0 37px #FC54FF;
      }
    }

    &:nth-child(2) {
      .directions__list-circle {
        background-image: linear-gradient(110.71deg, #EDDCFA -15.2%, #7C00DE 91.33%);
        box-shadow: 0 0 37px #FC54FF;
      }
    }

    &:nth-child(3) {
      .directions__list-circle {
        background-image: linear-gradient(145.62deg, #FFD6EF -19.99%, #DF45A3 85.8%);
        box-shadow: 0 0 37px #FC54FF;
      }
    }

    &:nth-child(4) {
      .directions__list-circle {
        background-image: linear-gradient(180.24deg, #3D06D8 0.21%, #A48AED 101.1%, #FFFFFF 190.12%);
        box-shadow: 0 0 37px #FC54FF;
      }
    }
  }

  &__list-circle {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    border-radius: 50%;
  }

  &__list-text {
    display: block;
    margin-right: 15px;
    font-weight: 600;
    font-size: 16px;
  }

  &__list-percent {
    font-weight: 600;
    font-size: 16px;
    background-image: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 1200px) {
  .directions {

    &__inner {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 992px) {
  .directions {
    padding-bottom: 115px;

    &__title {
      max-width: 100%;
    }

    &__list {
      display: block;
    }

  }
}
