.features {
  background: url('../assets/img/features/bg.svg') left center / contain no-repeat;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__animation {

    #canvas_2 {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    max-width: 680px;
    min-height: 450px;
    display: flex;
    align-items: center;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      max-width: 450px;
    }
  }

  &__item-text {
    font-weight: 400;
    font-size: 25px;
  }
}

@media (max-width: 1400px) {
  .features {
    background-position: left top;

    &__inner {
      flex-direction: column;
    }

    &__animation {
      margin: 0 auto;
    }
  }
}

@media (max-width: 992px) {
  .features {

    &__item {
      min-height: 200px;

      svg {
        max-width: 200px;
      }
    }

    &__item-text {
      font-size: 12px;
    }

    &__animation {
      margin: 0 auto;

      #canvas_2 {
        max-width: 500px;
      }
    }
  }
}
