.footer {
  padding-bottom: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 60%;
  }

  &__content-top {
    display: flex;
    margin-bottom: 90px;
  }

  &__content-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 110px;
    max-width: 215px;
  }

  &__social {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__social-title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
  }

  &__social-container {
    display: flex;
    align-items: center;

    a {

     &:not(:last-child) {
       margin-right: 40px;
     }

      svg {
        transition: filter .3s ease-in-out;
      }

      &:focus,
      &:hover {

        svg {
          filter: drop-shadow(0px 0px 17px #D95CF9);
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__copy,
  &__link {
    font-size: 16px;
    color: #C1C1C1;
  }

  &__link {
    text-decoration: underline;

    &:not(:last-child) {
      margin-right: 75px;
    }

    &:focus,
    &:hover {
      color: var(--white);
    }
  }
}

@media (max-width: 1400px) {
  .footer {

    &__inner {
      flex-direction: column;
    }

    &__content {
      width: 100%;
    }

    &__social {
      width: 100%;
      align-items: flex-start;
      order: -1;
      margin-bottom: 50px;
    }
  }
}


@media (max-width: 992px) {

  .footer {
    padding-bottom: 40px;

    &__content-top {
      flex-direction: column;
      margin-bottom: 65px;
    }

    &__content-bottom {
      flex-direction: column;
    }

    &__logo {
      margin-right: 0;
      margin-bottom: 65px;
      max-width: 150px;
    }

    &__links {
      order: -1;
      margin-bottom: 40px;
    }

    &__social {
      display: none;
    }

    &__copy,
    &__link {
      font-size: 12px;
    }

    &__link {

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
}


@media (max-width: 576px) {

  .footer {

    &__menu {
      flex-wrap: wrap;

      .menu__item {
        width: 50%;
        margin-bottom: 25px;
        font-size: 14px;

        svg {
          margin-right: 10px;
        }

        &:not(:last-child) {
          margin-right: 0;
        }

        &:nth-child(2) {
          order: 2;
        }

        &:nth-child(3) {
          order: 1;
        }

        &:nth-child(2n) {
          justify-content: flex-end;

        }
      }
    }

  }
}
