.header {
  padding: 50px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__footer {
    display: none;
    margin-top: auto;
    width: 100%;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    font-size: 12px;
    text-decoration: underline;
    color: #C1C1C1;
  }

  &__copy {
    font-size: 12px;
    color: #C1C1C1;
  }
}

.menu {
  display: flex;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 35px;
    }

    svg {
      margin-right: 30px;
      width: 15px;
      height: 15px;
    }
  }

  &__link {
    position: relative;
    color: var(--white);

    &:before {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 18px;
      background-color: #3f2781;
      transform: scale(0);
      transition: transform .3s;
    }

    &:focus,
    &:hover {
      color: var(--white);

      &:before {
        transform: scale(1);
      }
    }
  }
}

.menu-btn {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  z-index: 100;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &.active {

    span {

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:first-child {
        transform: rotate(45deg) translate(0px, 1px);
      }

      &:last-child {
        transform: rotate(-45deg) translate(1px, -1px);
      }

    }
  }
}

@media (max-width: 992px) {

  .menu-btn {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 16px 30px;
    background: var(--black) url('../assets/img/header/navbar-bg.svg') top / cover no-repeat;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all .6s cubic-bezier(0.65, 0, 0.35, 1);

    &.active {
      left: 0;
      opacity: 1;
      visibility: visible;
    }

    &__logo {
      max-width: 45px;
      margin-bottom: 85px;
    }

    &__footer {
      display: block;
    }

    .menu {
      display: flex;
      flex-direction: column;

      &__item {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 40px;
        }
      }

      &__link {
        font-size: 18px;
      }
    }
  }
}
