.intro {
  padding-bottom: 230px;

  &__inner {
    //min-height: 900px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 950px;
  }

  &__animation {
    position: relative;
    z-index: -1;

    #canvas_1 {
      width: 100%;
    }
  }

  &__title {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 90px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0 0 40px;
    max-width: 670px;
    font-size: 25px;
    line-height: 40px;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    min-width: 220px;
    padding: 10px;

    &:first-child {
      margin-right: 40px;
    }
  }

  &__down-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin-bottom: 20px;
      color: #3a4a54;
      transition: color .3s ease-in-out;
    }

    svg {
      animation: bounce 3s infinite;
      stroke: #3a4a54;
      transition: stroke .3s ease-in-out;
    }

    &:focus,
    &:hover {
      span {
        color: #C1C1C1;
      }

      svg {
        stroke: #C1C1C1;
      }
    }
  }
}


@media (max-width: 1500px) {
  .intro {

    &__title {
      font-size: 70px;
    }
  }
}

@media (max-width: 1300px) {
  .intro {

    &__title {
      font-size: 50px;
    }

    &__inner {
      min-height: 600px;
    }

    &__content {
      max-width: 550px;
    }
  }
}

@media (max-width: 992px) {
  .intro {
    padding-bottom: 50px;

    &__title {
      margin: 0 0 25px;
      font-size: 28px;
    }

    &__text {
      font-size: 16px;
    }

    &__btn {
      font-size: 14px;
      padding: 10px;
      min-width: 165px;
      min-height: 40px;

      &:first-child {
        margin-right: 15px;
      }
    }

    &__down-btn {
      display: none;
    }

    &__animation {
        margin: 0 auto;

      #canvas_1 {
        max-width: 500px;
      }
    }
  }
}

@media (max-width: 768px) {
  .intro {

    &__inner {
      flex-direction: column;
      align-items: flex-start;
    }

    &__content {
      max-width: 100%;
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 374px) {
  .intro {

    &__btn {
      padding: 8px;
      min-width: 135px;
      min-height: 34px;
    }
  }
}
