.mission {
  padding: 410px 0 380px;
  background: url('../assets/img/mission/bg.svg') center / contain no-repeat;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 90px;
  }

  &__text {
    max-width: 1000px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .mission {

    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 992px) {
  .mission {
    padding: 120px 0;
    background-size: 700px;

    &__title {
      font-size: 30px;
    }

    &__text {
      font-size: 14px;
    }

  }
}
