.news {
  padding-bottom: 260px;

  &__title {
    margin: 0 0 80px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
  }

  &__item {
    width: calc(100% / 3 - 50px);
    margin: 0 25px;
    border-radius: 18px;
    background: linear-gradient(342.26deg, rgba(144, 122, 243, 0) -39.2%, rgba(42, 30, 55, 0.104) 72.69%);
  }

  &__item-img {
    position: relative;
    height: 270px;
    border-radius: 18px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(0deg, rgba(221, 89, 248, 0.4) 0%, rgba(67, 9, 103, 0.0916667) 66.06%, rgba(137, 32, 201, 0.024) 100%),
      linear-gradient(180deg, rgba(23, 3, 160, 0.59) 0%, rgba(183, 167, 252, 0.0826) 172.1%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-body {
    padding: 25px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
  }

  &__item-date {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 16px;
  }

  &__item-title {
    margin: 0 0 25px;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
  }

  &__item-text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.68);
  }

  &__item-link {
    margin-top: auto;
    font-size: 20px;
    text-decoration: underline;
  }

  &__btn {
    display: block;
    margin: 30px auto 0;
    padding: 13px 50px;
    border: 2px solid #584463;
    box-shadow: none;
  }

  &__back {
    margin-bottom: 40px;
  }
}

.news-page {

  .news__title {
    margin-bottom: 160px;
  }

  .news__item {
    margin-bottom: 100px;
  }
}

.news-overlay {
  background: linear-gradient(180deg, rgba(30, 40, 55, 0) 0%, #2A1E37 68.64%);
}

@media (max-width: 992px) {

  .news {
    padding-bottom: 150px;

    &__title {
      margin: 0 0 45px;
    }

    &__inner {
      overflow-x: scroll;
      flex-wrap: nowrap;
      margin: 0 -16px 0 0;
    }

    &__item {
      width: 100%;
      min-width: 260px;
      margin: 0 30px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &__item-body {
      padding: 20px 0;
      min-height: 220px;
    }

    &__item-date {
      margin: 0 0 10px;
      font-size: 14px;
    }

    &__item-title {
      margin: 0 0 15px;
      font-size: 14px;
    }

    &__item-text {
      font-size: 12px;
    }

    &__item-link {
      font-size: 16px;
    }

    &__btn {
      display: none;
    }
  }

  .article-page,
  .news-page {

    .news__title {
      margin-bottom: 45px;
    }

    .news__inner {
      overflow-x: inherit;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    .news__item {
      width: calc(100% / 2 - 30px);
      margin: 0 15px;
    }
  }
}

@media (max-width: 576px) {
  .news {

    &__item-img {
      height: 185px;
    }
  }

  .article-page,
  .news-page {

    .news__inner {
      overflow-x: inherit;
      flex-wrap: wrap;
      margin: 0;
    }

    .news__item {
      width: 100%;
      margin: 0 0 30px;
    }
  }
}
