.profit {
  padding: 200px 0 570px;
  background: url('../assets/img/profit/bg.svg') bottom right / auto no-repeat;

  &__title {
    margin: 0 0 20px;
  }

  &__text {
    margin: 0 0 60px;
    max-width: 800px;
    font-weight: normal;
    font-size: 25px;
  }
}

.profit-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;

  &__nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  &__nav-item {
    position: relative;
    width: calc(100% / 3);
    min-width: 250px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-weight: bold;
      font-size: 35px;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:nth-child(1) {
      span {
        background-image: linear-gradient(180deg, #E9B9E9 0%, #FFFFFF 100%);
      }
    }

    &:nth-child(2) {
      span {
        background-image: linear-gradient(180deg, #E7A4E7 0%, #FFDAFF 100%);
      }
    }

    &:nth-child(3) {
      span {
        background-image: linear-gradient(180deg, #EB7EEB 0%, #FFC9FF 100%);
      }
    }

    &:nth-child(4) {
      span {
        background-image: linear-gradient(180deg, #EA4EEA 0%, #FFDEFF 100%);
      }
    }

    &:nth-child(5) {
      span {
        background-image: linear-gradient(180deg, #CE41E6 0%, #EEBCEE 100%);
      }
    }

    &:nth-child(6) {
      span {
        background-image: linear-gradient(180deg, #B42BB4 0%, #E8B9E8 100%);
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }

    &.active {

      svg {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__content {
    width: 40%;
  }

  &__content-item {

    &.show {
      animation: fadeIn 1s ease-in-out;
    }
  }

  &__text {
    margin: 0 0 20px;
    font-size: 35px;
  }

  &__invested {
    margin: 0 0 80px;
    font-size: 52px;
  }

  &__total {
    font-weight: 700;
    font-size: 90px;
    text-transform: uppercase;
    background-image: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__btn {
    padding: 15px 37px;
    box-shadow: none;
  }
}

@media (max-width: 1200px) {

  .profit-tabs {
    flex-direction: column;

    &__nav {
      width: 100%;
    }

    &__content {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .profit {
    padding: 50px 0 200px;
    background-size: 600px;

    &__title {
      margin: 0 0 40px;
    }

    &__text {
      margin: 0 0 50px;
      font-size: 14px;
    }
  }

  .profit-tabs {

    &__nav-item {
      width: 50%;
      min-width: auto;
      min-height: 100px;
      justify-content: flex-start;

      span {
        font-size: 20px;
      }

      svg {
        left: 0;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;
      }
    }

    &__text {
      margin: 0 0 20px;
      font-size: 20px;
    }

    &__invested {
      margin: 0 0 50px;
      font-size: 30px;
    }

    &__total {
      margin: 0 0 20px;
      font-size: 60px;
    }

    &__btn {
      min-height: auto;
      padding: 14px 37px;
      font-size: 16px;
    }
  }
}
