.roadmap {
  padding-bottom: 350px;

  &__title {
    margin: 0 0 75px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 285px;
    min-height: 285px;
    padding: 30px;
    background: linear-gradient(0deg, rgba(221, 89, 248, 0.4) 0%, rgba(67, 9, 103, 0.0916667) 66.06%, rgba(137, 32, 201, 0.024) 100%);
    border-radius: 18px;
    border: 1px solid #36273A;
    box-sizing: border-box;
  }

  &__item-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: var(--white);
  }

  &__item-date {
    margin-top: auto;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    background-image: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.roadmap-tabs {
    position: relative;

  &__nav {
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  &__nav-item {
    position: relative;
    padding: 8px 40px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    span {
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      background-image: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }

    &.active {
      svg {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.roadmap-slider {

  &__arrows {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-left: auto;

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      margin-top: 0;
      width: 100%;
      height: 100%;

      &::after {
        display: none;
      }

      svg {
        width: 53px;
        height: 53px;

        path {
          stroke-width: 5px;
        }
      }
    }

    .swiper-button-prev {
      margin-right: 30px;
    }
  }
}

@media (max-width: 992px) {
  .roadmap {
    padding-bottom: 150px;

    &__title {
      margin: 0 0 60px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      min-width: 140px;
      min-height: 190px;
      padding: 20px 15px;
    }

    &__item-title {
      font-size: 14px;
      line-height: 20px;
    }

    &__item-date {
      font-size: 14px;
    }
  }

  .roadmap-tabs {

    &__nav-item {
      font-size: 14px;
      padding: 8px 30px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .roadmap-slider {

    &__arrows {
      position: absolute;
      top: auto;
      bottom: -55px;

      .swiper-button-prev,
      .swiper-button-next {

        svg {
          width: 30px;
          height: 30px;

          path {
            stroke-width: 4px;
          }
        }
      }

      .swiper-button-prev {
        margin-right: 15px;
      }
    }
  }
}
