.target {
  padding-bottom: 260px;

  &__inner {
    position: relative;
    max-width: 1070px;
    //min-height: 1050px;
    margin: 0 auto;
  }

  &__animation {

    #canvas_2 {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    top: 250px;
    left: -25px;
    max-width: 660px;
    z-index: 1;
  }

  &__text {
    position: absolute;
    top: 500px;
    right: -95px;
    max-width: 700px;
    font-weight: 600;
    font-size: 30px;
    z-index: 1;
  }

}

@media (max-width: 1400px) {

  .target {

    &__title {
      left: 0;
    }

    &__text {
      right: 0;
    }
  }
}

@media (max-width: 992px) {

  .target {
    padding-bottom: 170px;

    &__title {
      top: 0;
      font-size: 40px;
    }

    &__text {
      top: 100px;
      right: auto;
      left: 0;
      font-size: 16px;
    }

    &__animation {
      margin: 0 auto;
      max-width: 500px;
    }
  }
}
