.trade {
  padding-bottom: 500px;

  &__title {
    max-width: 910px;
    margin: 0 0 95px;
  }

  &__subtitle {
    max-width: 435px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    background: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 55%;
  }

  &__text {
    margin: 0 0 60px;
    font-weight: 600;
    font-size: 25px;
  }

  &__info {
    display: flex;

    p {
      width: 50%;
      font-weight: 600;
      font-size: 18px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .trade {
    &__inner {
      flex-direction: column;
    }

    &__subtitle {
      max-width: 100%;
      margin-bottom: 40px;
    }

    &__content {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .trade {
    padding-bottom: 150px;

    &__title {
      margin-bottom: 40px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__text {
      margin-bottom: 35px;
      font-size: 14px;
    }

    &__info {

      p {
        font-size: 11px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
