.ventures {
  padding-bottom: 360px;

  &__title {
    margin: 0 0 20px;
    max-width: 930px;
  }

  &__text {
    max-width: 880px;
    font-weight: 600;
    font-size: 25px;
  }

  &__box {
    display: flex;
    align-items: flex-end;
  }

  &__img {
    flex: 0 0 auto;
    position: relative;
    width: 415px;
    height: 320px;
    margin-right: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: url('../assets/img/ventures/ellipse.svg') center / contain no-repeat;
    }

    span {
      position: absolute;
      top: 45px;
      left: 160px;
      display: block;
      max-width: 300px;
      font-weight: 600;
      font-size: 50px;
      text-transform: uppercase;
      text-shadow: 0 0 12px rgba(252, 109, 255, 0.9);
      background-image: linear-gradient(90deg, #BC91FF 0%, #9B7AFF 99.03%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 1200px) {
  .ventures {

    &__box {
      flex-direction: column;
    }

    &__img {
      margin: 0 auto 30px;
    }

    &__text {
      max-width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .ventures {
    padding-bottom: 170px;

    &__title {
      margin-bottom: 30px;
    }

    &__img {
      width: 240px;
      height: 200px;

      &::before {
        transform: rotate(-70deg);
      }

      span {
        top: 20px;
        left: 25px;
        font-size: 30px;
      }
    }

    &__text {
      font-size: 14px;
    }
  }
}
