.why {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slider {
    width: 50%;
    max-width: 730px;
  }

  &__slider-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      position: absolute;
      max-width: 640px;
      font-weight: 600;
      font-size: 30px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 992px) {
  .why {

    &__inner {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 0;
    }

    &__slider {
      width: 100%;
      max-width: 480px;
    }

    &__slider-item {

      p {
        font-size: 14px;
      }
    }
  }
}
