.work {
  padding-bottom: 150px;

  &__title {
    margin-bottom: 250px;
  }

  &__scheme {
    overflow-x: auto;
    margin-right: -16px;
    padding-bottom: 50px;

    svg {
      display: block;
      margin: 0 auto;
      width: 1330px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    min-width: 280px;
  }
}

.tooltip-trigger {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  max-width: 250px;
  padding: 20px 15px;
  font-size: 12px;
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(0deg, #DD59F8 -87.37%, #000000 89.9%);
  border-radius: 18px;
  z-index: 1;
  transition: opacity .6s cubic-bezier(0, 0.55, 0.45, 1), visibility .6s cubic-bezier(0, 0.55, 0.45, 1);

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1600px) {
  .work {

    &__scheme {
      svg {
        width: 930px;
      }
    }
  }
}

@media (max-width: 992px) {
  .work {

    &__title {
      margin-bottom: 60px;
    }

    &__btn {
      display: none;
    }
  }
}
