@import '~normalize.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background: var(--black);
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: color .3s ease-in-out;

  &:hover {
    color: #C1C1C1;
  }

  &:focus {
    outline: none;
    color: #C1C1C1;
  }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  width: 100%;
}

//input,
//textarea {
//	outline: none;
//
//	&:focus:required:invalid {
//		border-color: #da2a2a;
//	}
//
//	&:required:valid {
//		border-color: #1c8812;
//	}
//}

::selection {
  background-color: rgba(196, 196, 196, 0.5);
  color: var(--white);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.container {
  max-width: 1632px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.btn-outline {
  position: relative;
  padding: 15px;
  font-size: 20px;
  border-radius: 18px;
  min-height: 53px;
  box-shadow: 0 4px 4px rgba(217, 92, 249, 0.55);
  transition: box-shadow .3s ease-in-out;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    box-shadow: 0 0 15px 4px rgba(217, 92, 249, 0.55);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(217, 92, 249, 0.55);
  }
}

.back-btn {
  padding: 13px 50px;
  box-shadow: none;
  border-radius: 18px;
  border: 1px solid #584463;
}

.title {
  font-weight: 700;
  font-size: 90px;
  line-height: 120px;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
}

.overlay {
  background: url('../assets/img/overlay/top.svg') top / 100% no-repeat,
  url('../assets/img/overlay/bottom.svg') bottom / 100% no-repeat;
}

.overlay-center {
  background: url('../assets/img/overlay/center-circle.svg') right bottom / contain no-repeat,
  url('../assets/img/overlay/center-gradient.svg') bottom / 100% no-repeat;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tabs {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 16px;
  }

  .title {
    font-size: 24px;
    line-height: 38px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 33px;
  }

  .btn-outline {
    font-size: 16px;
    min-height: 49px;
  }

  .overlay {
    background: url('../assets/img/overlay/top-mobile.svg') top / 100% no-repeat,
    url('../assets/img/overlay/bottom-mobile.svg') bottom / 100% no-repeat;
  }

  .overlay-center {
    background: url('../assets/img/overlay/center-circle.svg') right bottom 600px / contain no-repeat,
    url('../assets/img/overlay/center-gradient.svg') left bottom 600px / 100% no-repeat;
  }

  .back-btn {
    display: none;
  }

}
