@mixin font($name, $style, $weight, $url) {
	@font-face {
		font-family: $name;
		font-style: $style;
		font-weight: $weight;
		font-display: swap;
		src: local($name), url('#{$url}.woff') format('woff') , url('#{$url}.woff2') format('woff2');
	}
}
@include font('Gilroy', normal, 400, '../assets/fonts/Gilroy-Regular');
@include font('Gilroy', normal, 500, '../assets/fonts/Gilroy-Medium');
@include font('Gilroy', normal, 600, '../assets/fonts/Gilroy-SemiBold');
@include font('Gilroy', normal, 700, '../assets/fonts/Gilroy-Bold');
@include font('Gilroy', normal, 800, '../assets/fonts/Gilroy-ExtraBold');
